@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
}

.cell {
  width: 70px;
  height: 70px;
  background-color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
