@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: 'Jost', sans-serif;
}

.img11 img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: 60%;
}

.slider button:hover > svg {
  color: white;
}

.slider-text {
  pointer-events: none;
}

.slider-text a {
  pointer-events: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.svg-icon {
  width: 16px;
  height: 16px;
}

path {
  width: 16px;
  height: 16px;
}

footer {
  margin-top: auto !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* MultiCampaigns */

.item-1:nth-child(1) {
  background: url('assets/img/campaigns/banner1.png') no-repeat;
  background-position: center;
  padding: 70px 35px;
  background-size: cover;
}
.item-2:nth-child(2) {
  background: url('assets/img/campaigns/banner2.png') no-repeat;
  background-position: center;
  padding: 70px 35px;
  background-size: cover;
}
.item-3:nth-child(1) {
  background: url('assets/img/campaigns/banner3.png') no-repeat;
  background-position: center;
  padding: 70px 35px;
  background-size: cover;
}
.item-4:nth-child(2) {
  background: url('assets/img/campaigns/banner4.png') no-repeat;
  background-position: center;
  padding: 70px 35px;
  background-size: cover;
}

/* Products */
.products-img .image1:hover {
  visibility: hidden;
}

.products-img img {
  transition: 0.3s ease-in-out all;
}
.products-img:hover .image2 {
  visibility: visible;
}

.products-img .image2 {
  position: absolute;
  top: 0;
  visibility: hidden;
}

/* Blogs */

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Brands */
.brand-list {
  padding: 30px 5px;
}

.brand-list li a:hover {
  opacity: 0.4;
  transition: 0.2 ease opacity;
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

.campaign {
  background-image: url('assets/img/single-campaign.png');
  padding: 140px 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

/* Footer */

.links-col a {
  font-size: 14px;
}

.links-col h3 {
  padding-bottom: 20px;
  font-size: 15px;
  font: bold;
}
