@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: 'Jost', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.svg-icon {
  width: 16px;
  height: 16px;
}

path {
  width: 16px;
  height: 16px;
}

footer {
  margin-top: auto !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Products */
.product-list div {
}

/* Blogs */

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Brands */
.brand-list {
  padding: 30px 5px;
}

.brand-list li a:hover {
  opacity: 0.4;
  transition: 0.2 ease opacity;
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

.campaign {
  background-image: url('assets/img/single-campaign.png');
  padding: 140px 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

/* Footer */

.links-col a {
  font-size: 14px;
}

.links-col h3 {
  padding-bottom: 20px;
  font-size: 15px;
  font: bold;
}
